.App {
  /* display: flex; */
  height: 100vh;
  /* flex-direction: column; */
  background-color: rgb(254, 249, 116);
  background-size: cover;
  padding-top: 20px;
  padding-bottom: 20px;
  overflow: scroll;
}

/* Nav Components */
.nav-cont {
  text-align: right;
  padding: 20px;
  margin-right: 25px;
  display: flex;
  justify-content: flex-end;
}

.nav-li {
  list-style-type: none;
  padding: 10px 10px;
}

/* Home Components */
.Home {
  margin-top: 250px;
  display: flex;
  justify-content: center;
}
span {
  font-size: 28px;
}

.right-panel {
  display: flex;
  flex-direction: column;
  width: 680px;
  padding-right: 70px;
  justify-content: flex-end;
  overflow-y: scroll;
  overflow: auto;
  height: 100%;
}

/* .left-panel {
  padding-left: 70px;
  padding-top: 70px;
} */

#fixed {
  position: fixed;
  right: 150px;
}


/* About Page */

.skills {
  border-top: 1px hotpink solid;
  display: flex;
  margin-left: 80px;
  justify-content: space-between;
}

/* .About {
  display: flex;
  justify-content: space-between;
} */

.right-panel p {
  padding-left: 80px;
}

.profile-pic {
  margin-top: 20px;
  margin-left: 80px;
  height: 400px;
  /* width: 600px; */
}

/* Portfolio */
/* .Portfolio {
  display: flex;
  justify-content: space-between;
} */
/* 
figcaption {
  margin-bottom: 15px;
  margin-left: 80px;
} */

a {
  /* padding: 10px; */
  margin: auto;
}

/* Contact */
.Contact {
  display: flex;
}

.contact-cont {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-top: 40px;
}

.icons {
  padding-bottom: 25px;
  padding-left: 10px;
  text-align: center;
}

.email {
  display: flex;
  flex-direction: column;
  /* margin-left: 100px; */
  /* margin-top: 100px; */
}

input {
  margin-left: 10px;
  width: 400px;
}

textarea {
  height: 200px;
  width: 400px;
  margin: 10px;
}




/* .left-panel {
  margin-left: 45px;
  justify-content: flex-end;
  position: absolute;
  left: 50px;
  top: 300px;

} */

/* .right-panel {
  border: 1px black solid;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  margin-right: 45px;
} */






/* .rt-panel {
  display: flex;
  height: 450px;
  width: 200px;
  position: absolute;
  right: 500px;
  margin-top: 25px;
  flex-direction: column;
  justify-content: space-around;
} */

